<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investiment">Initial Investiment</label>
      <input type="number" name="" id="initial-investiment" />
    </p>
    <p>
      <label for="annual-investiment">Annual Investiment</label>
      <input type="number" name="" id="annual-investiment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input type="number" name="" id="expected-return" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input type="number" name="" id="duration" />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
